#logo{
    height: 10vh;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
}
nav ul{
    background-color: rgb(12, 12, 54);
    height: 10vh;  
    display: flex;
    margin: auto;
    list-style-type: none;
}


H1{
    color: white;
    margin-left: 0px;
    
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    margin: auto;
    
}

.home{
    color: white;
}

.mySlides {display:none;
    width:50%;
    height: 400px;
    
}
